<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JobHunt - No Signups Needed</title>
        <meta name="csrf" content={{csrf_token}}>
        <script 
            src="https://code.jquery.com/jquery-3.7.1.min.js" 
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <div id="personal">
            <input type="text" id="fname" placeholder="First Name?"><br>
            <input type="text" id="lname" placeholder="Last Name?"><br>
            <input type="email" id="email" placeholder="Email?"><br>
            <input type="text" id="mobile" placeholder="Mobile?"><br>
            DOB: <input type="date" id="dob"><br>
            <input type="text" id="cur_loc" placeholder="Current Location?"><br>
            <input type="text" id="job_loc" placeholder="Job Location?"><br>
            <input type="button" onclick="send_personal_to_session()" value="Save in Session">
        </div>
        <div id="educational" hidden>
            <input type="text" id="tenth" placeholder="10th School Score?"><br>
            10th Year of Passing: <input type="date" id="tenth_yr"><br>
            <input type="text" id="twelfth" placeholder="12th School Score?"><br>
            12th Year of Passing: <input type="date" id="twelfth_yr"><br>
            <input type="text" id="degree" placeholder="Highest degree?"><br>
            <input type="text" id="degree_score" placeholder="Highest degree's Score?"><br>
            Year of Passing: <input type="date" id="degree_yr"><br>
            <input type="button" onclick="send_edu_to_session()" value="Save in Session">
        </div>
        <div id="experience" hidden>
            <input type="text" id="cur_designation" placeholder="Current Designation?"><br>
            <input type="text" id="cur_salary" placeholder="Current CTC in lacs?"><br>
            <input type="text" id="exp_designation" placeholder="Expected Designation?"><br>
            <input type="text" id="exp_salary" placeholder="Expected CTC in lacs?"><br>
            <input type="text" id="notice_days" placeholder="Notice period in days?"><br>
            <input type="button" onclick="send_exp_to_session()" value="Push to DB">
        </div>
        <div id="approval">
            
            <input type="button" onclick="push_to_db()" value="Push To DB">
        </div>
        <div>
            <font id="status"></font>
        </div>
        <script>
            function send_personal_to_session(){
                var fname = $("#fname").val();
                var lname = $("#lname").val();
                var email = $("#email").val();
                var mobile = $("#mobile").val();
                var dob = $("#dob").val();
                var cur_loc = $("#cur_loc").val();
                var job_loc = $("#job_loc").val();
                var d = {
                    'fname': fname, 'lname': lname,
                    'email':email, 'mobile': mobile,
                    'dob': dob, 'cur_loc':cur_loc,
                    'job_loc':job_loc,
                };
                // console.log(d);
                $.ajax(
                    {
                        url: 'session_save/personal',
                        type: 'POST',
                        data: d,
                        headers: {
                            'X-CSRFToken': $('meta[name="csrf"]').attr('content')
                        },
                        success: function(response){
                            console.log("personal info updated in session");
                            $("#personal").hide();
                            $("#educational").show();
                        },
                        error: function(xhr, status, err){
                            var msg = JSON.parse(xhr.responseText);
                            $("#status").text(status + ":" + err +":" + msg.error); 
                            alert(msg.error);
                        }
                    }
                );
            }
            function send_edu_to_session(){
                var tenth = $("#tenth").val();
                var tenth_yr = $("#tenth_yr").val();
                var twelfth = $("#twelfth").val();
                var twelfth_yr = $("#twelfth_yr").val();
                var degree = $("#degree").val();
                var degree_score = $("#degree_score").val();
                var degree_yr = $("#degree_yr").val();
                var d = {
                    'tenth': tenth, 'tenth_yr': tenth_yr, 'twelfth': twelfth,
                    'twelfth_yr': twelfth_yr, 'degree': degree, 
                    'degree_score': degree_score, 'degree_yr': degree_yr
                };
                console.log(d);
                $.ajax(
                    {
                        url: 'session_save/edu',
                        type: 'POST',
                        data: d,
                        headers: {
                            'X-CSRFToken': $('meta[name="csrf"]').attr('content')
                        },
                        success: function(response){
                            console.log("educational info updated in session");
                            $("#educational").hide();
                            $("#experience").show();
                        },
                        error: function(xhr, status, err){
                            var msg = JSON.parse(xhr.responseText);
                            $("#status").text(status + ":" + err +":" + msg.error); 
                            alert(msg.error);
                        }
                    }
                );

            }
            function send_exp_to_session(){
                var cur_designation = $("#cur_designation").val();
                var exp_designation = $("#exp_designation").val();
                var cur_salary = $("#cur_salary").val();
                var exp_salary = $("#exp_salary").val();
                var notice_days = $("#notice_days").val();

                $.ajax(
                    {
                        url: 'session_save/exp',
                        type: 'POST',
                        data: {
                            'cur_designation': cur_designation,
                            'exp_designation': exp_designation,
                            'cur_salary': cur_salary,
                            'exp_salary': exp_salary,
                            'notice_days': notice_days,
                        },
                        headers: {
                            'X-CSRFToken': $('meta[name="csrf"]').attr('content')
                        },
                        success: function(response){
                            console.log("Experience Data Saved in Session");
                            $("#status").text(response['Status']);
                            $("#personal").hide();
                            $("#experience").hide();
                            $("#educational").hide();
                            $("#approval").show();
                        },
                        error: function(xhr, status, err){
                            var msg = JSON.parse(xhr.responseText);
                            $("#status").text(status + ":" + err +":" + msg.error); 
                            alert(msg.error);
                        }
                    }
                );
            }
            function push_to_db(){
                // pending
            }
        </script>
    </body>
</html>